@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..700&display=swap');

:root {
    --primary-color: hsl(75, 94%, 57%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background: #111;
    color: white;
    line-height: 1.3em;
    font-size: 0.875rem;
}

main {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 320px;
    min-width: 28vh;
    background: #222;
    text-align: center;
    padding: 35px 35px 25px 35px;
    border-radius: 15px;
}

.container img {
    border-radius: 100px;
    max-width: 30%;
    margin-bottom: 30px;
}

.container h1 {
    font-size: 1.4rem;
    font-weight: 500;
}

.container p {
    margin: 10px 0px;
    font-weight: 300;
    font-size: 0.875rem;
}

p.location {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 0.75rem;
}

.container .button {
    background: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
    margin: 8px 50px;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 600;
}

.button:hover {
    background: var(--primary-color);
    color: #111;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.688rem;
    text-align: center;
    padding: 15px;
}

footer a {
    color: hsl(228, 45%, 44%);
}